---
---

@import "{{ site.theme }}";

header[role="banner"] img {
  display: block;
}

header[role="banner"] h1 a {
  display: inline-block;
  line-height: normal;
}

header[role="banner"] h1 {
  line-height: 0;
  margin-bottom: $line-height;
}
